# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.tsbuildinfo

# .NET
bin/
obj/
*.user
*.suo
*.userprefs

# IDEs
.vs/
.idea/
.vscode/*

# Environment & secrets
.env
.env.*
*.pfx
*.snk

# Builds & coverage
dist/
build/
coverage/
TestResults/
